
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AT MOMBASA</title>
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Mincho" rel="stylesheet">
    <link rel="stylesheet" href={{url_for('static',filename='style.css')}}>

</head>

<body>

    <header>
        <h2><a href="#">Store Management</a></h2>
        <nav>
            <li><a href="/sms">Sms</a></li>
            <li><a href="#">Voice</a></li>
            <li><a href="#">Airtime</a></li>
        </nav>
    </header>

    <section class="main">
    {% block content %}

    {% endblock content %}
    </section>

</body>

</html>
